@font-face {
  font-family: "Nunito Bold";
  src: url("../fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "Nunito Light";
  src: url("../fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "Nunito Regular";
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Edo SZ";
  src: url("../fonts/edosz.ttf");
}

.color1{
  border-color: #ed5565;
}

.color1.active{
  background: #ed5565;
  color: white;
}

.color2{
  border-color: #fc6e51;
}

.color2.active{
  background: #fc6e51;
  color: white;
}

.color3{
  border-color: #ffce54;
}

.color3.active{
  background: #ffce54;
  color: white;
}

.color4{
  border-color: #48cfad;
}

.color4.active{
  background: #48cfad;
  color: white;
}

.color5{
  border-color: #4fc1e9;
}

.color5.active{
  background: #4fc1e9;
  color: white;
}

.color6{
  border-color: #5d9cec;
}

.color6.active{
  background: #5d9cec;
  color: white;
}

.color7{
  border-color: #aab2bd;
}

.color7.active{
   background: #aab2bd;
  color: white;
}

.color8{
  border-color: #f5f7fa;
}

.color8.active{
  background: #f5f7fa;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #e6e9ed;
  font-family: Nunito Regular,'Helvetica Neue',sans-serif;
}

.bold{
  font-weight: bold;
}

.alert {
  position: fixed;
  bottom: 0;
  right: 0;
}
.wrapper, #home-main {  
  height: 100% 
}

.top-menu-mobile{
  width: 8px;
  height: 12px;
  margin-right: 5px;
}

.top-menu-email{
  width: 10px;
  height: 8px;
  margin-right: 5px;
}

.top-menu {
  height: 30px;
  padding-top: 10px;
  padding-left: 16px;
  margin-bottom: 10px;
}

.top-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-menu ul li {
  display: inline;
}

.top-menu ul i {
  margin-right: 10px;
}

.top-menu ul li a {
  margin-right: 20px;
  color: #AAB2BD;
  font-size: 10px;
}

header.navbar {
  height: 97px;
  border-radius: 5px 5px 0px 0px;
}

.navbar-brand>img {
  /*  height: 50px;*/
}

.brand-logo{
  padding: 30px;
}

.navbar-toggle {
  margin-top: 18px;
  margin-bottom: 18px
}

.main-navbar{
  border-radius: 5px 5px 0px 0px;
}

.navbar-toggle .icon-bar {
  background-color: #4C4C4C;
}

.navbar-collapse {
  background-color: #FFFFFF;
}

.header-nav{
  background-color: #F5F7FA !important;
}

header.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu-padding {
  padding-top: 40px;
}

.home-intro .container {
  position: relative;
}

section.home-intro{
  background-color: #F5F7FA !important;
}

.main-menu-container {
  font-size: 10px;
  padding-top: 30px;
  padding-right: 30px;
}

#main-menu li a span {
  color: #48CFAD;
}

#main-menu li a {
  color: #AAB2BD;
  font-size: 11px;
}

#main-menu li a:hover {
  background-color: #f5f7fa;
}

#main-menu li a span.button {
  background-color: #48CFAD;
  color: #fff;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
  border-radius: 15px;
}

#home-main {
  background-color: #F5F7FA !important;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #cccccc;
}

.about-link, .program-link, .login-link, .contact-link{
  padding-right: 0px;
}

.about-link:hover, .program-link:hover, .login-link:hover, .contact-link:hover{
  /*  background-color: #F5F7FA !important;*/
}

.contact-link {
  padding-right: 0px;
  margin-right: 22px;
}

.nav-links>li>a{
  padding: 10px 8px;
}

#main-menu li:last-child a {
  margin-right: 5px;
}


.arrows{
  padding-top: 50px;
}

/*  Shake animation  */


.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinges {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}

.animated.snail {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
  0%, 100% {-moz-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
  0%, 100% {-o-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}


h1.headline {
  font-family: Edo SZ;
  font-size: 72px;
  line-height: 90px;
}

h1.headline.big{
  font-size: 110px;
  /*  line-height: 34px;*/
}

.home-testimonials header h1.headline.big{
  color: #ec87c0;
}

.overlay {
  position: absolute;
  top: 8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1.headline {
  color: #37bc9b;
}

.home-intro h1.headline {
  font-size: 124px;
  line-height: 80px;
  color: #4fc1e9;
}

div.overlay h4 {
  font-size: 21px;
  font-weight: bold;
  margin-top: 0;
}

div.overlay img {
  margin-top: 30px;
}

.home-mentor h1.headline {
  color: #ffce54;
}

span.btn.filter {
  border-radius: 20px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.white {
  background-color: #ffffff;
}

.grey {
  background-color: #aab2bd;
  color: #FFFFFF;
}

section {
  position: relative;
  padding-top: 30px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
}

.block-section {
  min-height: 500px;
}

.banner-section {
  min-height: 50vh;
}


section .overlay {
  height: 75%;
}

[class*=decor-]{
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0;
}
.decor-top {
  bottom: 100%;
}
.grey .decor{
  fill: #4C4C4C;
  stroke: #fff;
}
.white .decor{
  fill:  #FFFFFF;
  stroke: #fff;
}
[class*=decor-] svg {
  height: 101%;
}
svg:not(:root) {
  overflow: hidden;
}
.decor {
  display: block;
  position: relative;
  margin: 0 auto;
}

section .section-header {
  position: relative;
  padding-bottom: 30px;
  min-height: 120px;
}

.feature-row {
  padding-bottom: 26px;
}

.feature-row p{
  font-size: 24px;
  line-height: 28px;
  padding: 105px;
  font-weight: bold;
}

.feature-description {
  display: none;
}

.feature-tagline{
  font-weight: bold;
  font-size: 15px;
}

.feature-header{
  padding-bottom: 0px !important;
}

.slide-controls label:hover{
  cursor: pointer;
}

.section-header h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-header h4 {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 11px;
}

.section-header h2:after {
  text-transform: uppercase;
  content: "";
  position: absolute;
  left: 50%;
  top: 66px;
  width: 140px;
  height: 3px;
  margin-left: -60px;
}

.grey .section-header h2:after {
  background-color: #ffffff;
}
.white .section-header h2:after {
  background-color: #4c4c4c;
}

.feature-row p span {
  display: block;
}

section.home-mentor{
  background-color: #F5F7FA !important;
}

section.home-mentor .group {
  padding-bottom: 22px;
}

section.home-mentor #mentors .mix{
  display: none;
  height: 200px;
  width: 200px;
  background-color: #000000;
}

.company-row img {
  width: 125px;
  padding-bottom: 20px;
}

.company-row ul li {
  list-style: none;
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}

/*** Start of Unknown CSS ***/
.program-header{
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-underlay{
  opacity: 0.5;
}

.image-text-overlay{
  position: absolute;
  bottom: 35%;
}

.image-text-overlay h1{
  text-transform: uppercase;
  font-weight: 800;
  font-size: -webkit-xxx-large;
}

.tabs{
  padding-left: 0px;
}

.top-border{
  border-top: 4px solid #fff;
  padding-top: 20px;
}

.top-border.selected{
  border-top: 4px solid #36BC9B;
}

.custom-padding-left-right-75{
  padding-left: 75px;
  padding-right: 75px;
}

/*** End of Unknown CSS ***/



/*** Start of Testimonal ***/
.home-testimonials{
  padding-bottom: 20px;
  background-color: #F5F7FA !important;
}

.one.slide p, .two.slide p, .three.slide p, .four.slide p{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  line-height: 2;
  font-weight: 700;
  font-size: 16px;
}

.slide{
  color: #AAB2BD;
}

.testimonial-row {
  position: relative;
  height: 350px;
}

.testimonial-row label {
  position: relative;
  top: 250px;
  color: #000000;
  background-color: #aab2bd;
  width: 24%;
  height: 5px;
  cursor: pointer;
}

.testimonial-row input[type="radio"] {
  position: absolute;
  width: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.testimonial-row input[type=radio]:checked+label {
  background-color: #ec87c0;
}

.testimonial-row .slide {
  position: absolute;
  left: -100%;
  opacity: 0;
  transition: all 0.6s ease-in;
}

#first:checked ~ div.one {
  left: 0;
  opacity: 1;
  width: 100%;
}

#second:checked ~ div.two {
  left: 0;
  opacity: 1;
  width: 100%;
}

#third:checked ~ div.three {
  left: 0;
  opacity: 1;
  width: 100%;
}

#fourth:checked ~ div.four {
  left: 0;
  opacity: 1;
  width: 100%;
}

.custom-min-height-400{
  min-height: 400px;
}

/*** End of Testimonal ***/

/*** Start of Contact ***/

section.home-contact{
  /*  min-height: 700px;*/
  padding: 0px;
}

.bg-map {
  /*  background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=Adarash+Nagar,Andheri+West&scale=1&size=500x500");*/
  /*
  background-image: url('../images/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  */
}

.home-contact header h1.headline.big{
  color: #fc6e51;
}

.map-overlay{
  position: absolute;
  top: 0px;
}

/*** End of Contact ***/

/*Start of Footer CSS*/

section.footer-section{
  padding-bottom: 30px;
}

.footer-images{
  padding:30px;
}

.footer-logo{
  padding-bottom: 0px;
}

/*End of Footer CSS*/

.custom-margin-bottom-15{
  margin-bottom: 15px;
}

.syllabus-email-input{
  width: 58% !important;
  border-radius: 0px;
  border-color: #08AC84;
  margin-bottom: 10px;  
  min-width: 236px
}

.syllabus-button{
  border-radius: 0px;
  width: 42%;
  min-width: 170px;
  background-color: #3DBD9E !important;
  border-color: #08AC84 !important;
}

.register-button{
  background-color: #3DBD9E !important;
  border-radius: 0px;
  border-color: #08AC84 !important;
}

.syllabus-button:hover, .register-button:hover{
  background-color: #11D9A8 !important;
  border-color: #12B98F !important;
}

.custom-line-height-3{
  line-height: 3;
}

.highlights p{
  line-height: 2;
}

.highlights i, .targets i{
  font-size: 75px;
  margin-bottom: 30px;
}

.program-highlight-section, .program-enrolling-section{
  background-color: #aab2bd !important;
  margin-top: -25px !important;
  color: white;
}