.container.wrapper
  .row.top-menu
    ul.pull-left
      li
        a(href='tel:+91809741508')
          i.fa.fa-phone
          span +91 8097415085
      li
        a(href='mailto:info@codegurukul.com')
          i.fa.fa-envelope
          span info@codegurukul.com
    ul.pull-right(ng-show='currentUser')
      li.logout-link(ng-click='logout()')
        a
          i.fa.fa-lock
          span Mumbai, In
  #home-main.content.row
    include ./partials/nav.jade

    section.program-header
      div.row
        div.col-sm-12.image-underlay
          img(src='images/gmail-clone.png', width='100%')
        div.col-sm-12.text-center.image-text-overlay
          h1 Angular Workshop
          p
            em - Working the Angular way
            
    include ./partials/angular-workshop/program-highlights.jade
    
    include ./partials/home/testimonials.jade
    
    include ./partials/angular-workshop/program-enrolling.jade
    
    