.container.wrapper
  .row.top-menu
    ul.pull-left
      li
        a(href='tel:+91809741508')
          i.fa.fa-phone
          span +91 8097415085
      li
        a(href='mailto:info@codegurukul.com')
          i.fa.fa-envelope
          span info@codegurukul.com
    ul.pull-right(ng-show='currentUser')
      li.logout-link(ng-click='logout()')
        a
          i.fa.fa-lock
          span Mumbai, In
  #home-main.content.row
    include ./partials/nav.jade
    include ./partials/home/intro.jade
    include ./partials/home/features.jade
    include ./partials/home/mentors.jade
    include ./partials/home/mentor-companies.jade
    include ./partials/home/testimonials.jade
    include ./partials/home/contact.jade
    include ./partials/footer.jade
