.container.wrapper
  .row.top-menu
    ul.pull-left
      li
        a(href='tel:+91809741508')
          i.fa.fa-phone
          span +91 8097415085
      li
        a(href='mailto:info@codegurukul.com')
          i.fa.fa-envelope
          span info@codegurukul.com
    ul.pull-right(ng-show='currentUser')
      li.logout-link(ng-click='logout()')
        a
          i.fa.fa-lock
          span Mumbai, In
  #home-main.content.row
    include ./partials/nav.jade
    section.login-section
      .container
        .col-md-12.text-center
          h2 Welcome to CodeGurukul!
        .col-md-12
          hr
        .row
          .col-sm-6.login
            fieldset
              legend
                small Returning back? Login here!
              .modal-body
                .box
                  .content
                    .form.loginBox
                      form.ng-pristine.ng-valid(method='post', action='/login', accept-charset='UTF-8')
                        input#email.form-control(type='text', placeholder='Email', name='email' ng-model='login.email')
                        input#password.form-control(type='password', placeholder='Password', name='password' ng-model='login.password')
                        input.btn.btn-default.btn-login.login-button(type='button', value='Login', ng-click='login()')
                    .division
                      .line.l
                      span or
                      .line.r
                    .social
                      a.circle.github(href='/auth/github')
                        i.fa.fa-github.fa-fw
                      a#google_login.circle.google(ng-click='googleLogin()')
                        i.fa.fa-google-plus.fa-fw
                      a#facebook_login.circle.facebook(ng-click="authenticate('facebook')")
                        i.fa.fa-facebook.fa-fw
          .col-sm-6.login
            fieldset
              legend
                small New at CodeGurukul? Signup here!
              .modal-body
                .box
                  .content
                    .form.loginBox
                      form.ng-pristine.ng-valid(method='post', action='/login', accept-charset='UTF-8')
                        input#email.form-control(type='text', placeholder='Email', name='email' ng-model='signup.email')
                        input#password.form-control(type='password', placeholder='Password', name='password' ng-model='signup.password')
                        input#password.form-control(type='password', placeholder='Confirm Password', name='password')
                        input.btn.btn-default.btn-login(type='button', value='Signup', ng-click='signup()')
        .row
          .col-md-12
            hr