section.block-section.home-contact.white.bg-map
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='transparent')
  iframe(width='100%', height='500', frameborder='0', style='border:0', src='https://www.google.co.in/maps/embed/v1/place?key=AIzaSyDMvVbBJWCPE5VjC7EQPo1ohZj8hu17FXg&q=Near+Lotus+Petrol+Pump,+Mumbai', allowfullscreen='')
  //.decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 0 L100 0 L100 100', stroke-width='0')
  .col-md-4.col-md-offset-4.col-xs-12.map-overlay.text-center
    header.section-header.text-center.underline

      h1.headline.big Get in
      h1.headline.big touch
      .overlay
        h2 Contact