section.section.home-feature.grey
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='#aab2bd')
  .container
    header.section-header.text-center.underline
      h1.headline Unschooling 
      h1.headline.big Minds
      .overlay
        h2 Redefining Learning
        h4 We are All Markers At Heart
        h4 Codegurukul Belives In Proding Foundation & Support
        h4 To Help Grow Idea From Start To Sucess
    .feature-row.row
      .col-md-4.col-xs-offset-2.text-center
        i.fa.fa-users.fa-5x
        h3.text-center
          | Mentor
        p.text-center
          span
            | Our Mentors Are Professionals
          span
            | Working At Major Tech Firm &
          span
            | Are Passionate About Both Teaching
          span
            | & Your Success
      .col-md-4.text-center
        i.fa.fa-comments.fa-5x
        h3.text-center
          | Community
        p.text-center
          span
            | Codegurukul Regularly Hosts
          span
            | Inspiring & Educational Events
          span
            | Featuring The Most Talented
          span
            | Professionals Working In The Industry
      .col-md-2.text-center
    .feature-row.row
      .col-md-4.col-xs-offset-2.text-center
        i.fa.fa-moon-o.fa-5x
        h3.text-center
          | Night School
        p.text-center
          span
            | Learn Programming Skills
          span
            | & Keep Your Day Job
          span
            | Codegurukul Allows You To Continue
          span
            | Learning On Nights & Weekends
      .col-md-4.text-center
        i.fa.fa-code.fa-5x
        h3.text-center
          | RealWorld Projects
        p.text-center
          span
            | We Setup Codegurukul To Resemble
          span
            | A Real Work Environment
          span
            | You Will Work In Teams Using
          span
            | Agile Methods The Professionals Use
    div.row
      div.container
        ul.tabs(type='none')
          li.col-xs-3.text-center.top-border.selected
            h5 MENTORS
            i.fa.fa-users.fa-4x
          li.col-xs-3.text-center.top-border
            h5 COMMUMNITY
            i.fa.fa-comments.fa-4x
          li.col-xs-3.text-center.top-border
            h5 NIGHT SCHOOL
            i.fa.fa-moon-o.fa-4x
          li.col-xs-3.text-center.top-border
            h5 REAL WORLD PROJECTS
            i.fa.fa-code.fa-4x