section.block-section.home-feature.grey
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='#aab2bd')
  .container
    header.section-header.text-center.underline
      h1.headline Unschooling 
      h1.headline.big Minds
      .overlay
        h2 Redefining Learning
        p We are All Markers At Heart
        p Codegurukul Belives In Proding Foundation & Support
        p To Help Grow Idea From Start To Sucess
        
    .feature-row.row
      .col-sm-8.col-sm-offset-2.col-xs-12.text-center
        p.feature-description.text-center
            | Our Mentors Are Professionals Working At Major Tech Firm &
            | Are Passionate About Both Teaching & Your Success.
      .col-sm-8.col-sm-offset-2.col-xs-12.text-center
        p.feature-description.text-center
            | Codegurukul Regularly Hosts Inspiring & Educational Events
            | Featuring The Most TalentedProfessionals Working In The Industry.
      .col-sm-8.col-sm-offset-2.col-xs-12.text-center
        p.feature-description.text-center
            | Learn Programming Skills & Keep Your Day Job
            | Codegurukul Allows You To Continue Learning On Nights & Weekends.
      .col-sm-8.col-sm-offset-2.col-xs-12.text-center
        p.feature-description.text-center
            | We Setup Codegurukul To Resemble A Real Work Environment
            | You Will Work In Teams Using Agile Methods The Professionals Use.
    div.row
      div.container
        ul.tabs(type='none')
          li.col-xs-3.text-center.top-border.selected
            h5 MENTORS
            i.fa.fa-users.fa-4x
          li.col-xs-3.text-center.top-border
            h5 COMMUMNITY
            i.fa.fa-comments.fa-4x
          li.col-xs-3.text-center.top-border
            h5 NIGHT SCHOOL
            i.fa.fa-moon-o.fa-4x
          li.col-xs-3.text-center.top-border
            h5 REAL WORLD PROJECTS
            i.fa.fa-code.fa-4x