section.block-section.home-intro.white
  .container
    header.section-header.text-center.underline
      h1.headline Let's
      h1.headline Talk
      h1.headline Code
      .overlay
        img(src='images/CG_Text.png')
        h4 Specializing In Programming Education
        h4 For Careers In The Information Technology Industry
    div.row
      div.col-sm-12.text-center.arrows
        img(src='images/arrows.png')
