section.banner-section.home-company.grey
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='#aab2bd')
  .container
    header.section-header.text-center.underline
      .overlay
        h2 our mentors work at
    .company-row.row
      .col-md-2.col-md-offset-1.text-center.col-sm-4.col-xs-6
        img(src='/images/nestopia.png')
      .col-md-2.text-center.col-sm-4.col-xs-6
        img(src='/images/google.png')
      .col-md-2.text-center.col-sm-4.col-xs-6
        img(src='/images/bit_brothers.png')
      .col-md-2.text-center.col-sm-6.col-xs-6
        img(src='/images/reliancejio.png')
      .col-md-2.text-center.col-sm-6.col-xs-12
        img(src='/images/netmagic.png')
