section.section.home-company.grey
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='#aab2bd')
  .container
    header.section-header.text-center.underline
      .overlay
        h2 our mentors work at
    .company-row.row
      ul
        li
          img(src='/images/nestopia.jpg')
        li
          img(src='/images/google.jpg')
        li
          img(src='/images/bit_brothers.jpg')
        li
          img(src='/images/reliancejio.jpg')
        li
          img(src='/images/netmagic.jpg')
    
