section.block-section.home-mentor.white
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='#F5F7FA')
  .container
    header.section-header.text-center.underline
      h1.headline.big BadAss
      h1.headline.big Mentor
      .overlay
        h2 EXPERT TEACHERS
        h4 Our Mentors Are Seasoned Solution Architects
        h4 With Years Of Real World Enterprise Expereince
    #mentors
      .group.text-center
        span.btn.filter(data-filter='all') All
        span.btn.filter(data-filter='.html5') HTML5
        span.btn.filter(data-filter='.css3') CSS3
        span.btn.filter(data-filter='.nodejs') Nodejs
        span.btn.filter(data-filter='.scrum') Scrum
        span.btn.filter(data-filter='.aws') AWS
        span.btn.filter(data-filter='.ruby-on-rails') Ruby on Rails
        span.btn.filter(data-filter='.ios') IOS
      .group.text-center
        .mix.javascript(data-myorder='1')
        .mix.nodejs(data-myorder='6')
        .mix.aws(data-myorder='3')
        .mix.ruby-on-rails(data-myorder='2')
        .mix.ios(data-myorder='4')
        .mix.html5(data-myorder='5')