.container
    input#first(type='radio', name='nav', checked='')
    input#second(type='radio', name='nav')
    input#third(type='radio', name='nav') 
    label.first(for='first')
    label.second(for='second')
    label.third(for='third')  
    .one.slide
      blockquote
        |  I am lucky to be the part of this workshop.
        |  I learnt the whole Web devlopment ( front end + back end) in 2 weeks.
        |  Many would doubt if someone can learn detail web dev in two weeks.
        |  But trust me its possible with codegurukul.
        |  Amod Shinde
        |  Padre Conceicao College of Engineering, Goa   
    .two.slide
      blockquote
        |  I am lucky to be the part of this workshop.
        |  I learnt the whole Web devlopment ( front end + back end) in 2 weeks.
        |  Many would doubt if someone can learn detail web dev in two weeks.
        |  But trust me its possible with codegurukul.
        |  Amod Shinde
        |  Padre Conceicao College of Engineering, Goa   
    .three.slide
      blockquote
        |  I am lucky to be the part of this workshop.
        |  I learnt the whole Web devlopment ( front end + back end) in 2 weeks.
        |  Many would doubt if someone can learn detail web dev in two weeks.
        |  But trust me its possible with codegurukul.
        |  Amod Shinde
        |  Padre Conceicao College of Engineering, Goa