section.section.home-testimonials.white
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0')
  .container
    header.section-header.text-center.underline
      h1.headline Sweet
      h1.headline.big Shoutouts
      .overlay
        h2 Testimonials
        h4 Our Mentors Are Seasoned Solution Architects
        h4 With Years Of Real World Enterprise Expereince
    .testimonial-row.text-center
      input#first(type='radio', name='nav', checked='')
      input#second(type='radio', name='nav')
      input#third(type='radio', name='nav') 
      label.first(for='first')
      label.second(for='second')
      label.third(for='third')
      .one.slide
        blockquote
          | First.
          br
          | I learnt the whole Web devlopment ( front end + back end) in 2 weeks.
          br
          | Many would doubt if someone can learn detail web dev in two weeks.
          br
          | But trust me its possible with codegurukul.
          br
          br
          | Amod Shinde
          br
          | Padre Conceicao College of Engineering, Goa
          br
      .two.slide
        blockquote
          | Second.
          br
          | I learnt the whole Web devlopment ( front end + back end) in 2 weeks.
          br
          | Many would doubt if someone can learn detail web dev in two weeks.
          br
          | But trust me its possible with codegurukul.
          br
          br
          | Amod Shinde
          br
          | Padre Conceicao College of Engineering, Goa
          br 
      .three.slide
        blockquote
          | Third.
          br
          | I learnt the whole Web devlopment ( front end + back end) in 2 weeks.
          br
          | Many would doubt if someone can learn detail web dev in two weeks.
          br
          | But trust me its possible with codegurukul.
          br
          br
          | Amod Shinde
          br
          | Padre Conceicao College of Engineering, Goa
          br