section.section.home-testimonials.white
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='#F5F7FA')
  .container.custom-min-height-400
    header.section-header.text-center.underline
      h1.headline Sweet
      h1.headline.big Shoutouts
      .overlay
        h2 Testimonials
        h4 Our Mentors Are Seasoned Solution Architects
        h4 With Years Of Real World Enterprise Expereince
    .testimonial-row.text-center
      input#first(type='radio', name='nav', checked='')
      input#second(type='radio', name='nav')
      input#third(type='radio', name='nav') 
      input#fourth(type='radio', name='nav') 
      label.first(for='first')
      label.second(for='second')
      label.third(for='third')
      label.fourth(for='fourth')
      .one.slide
        p I learnt the whole Web devlopment ( front end + back end) in 2 weeks. Many would doubt if someone can learn detail web dev in two weeks. But trust me its possible with CodeGurukul.
          footer - Amod Shinde
          |Padre Conceicao College of Engineering, Goa
          
      .two.slide
        p The 2 week-long internship on web development was very educative. The various topics covered during the course such as node.js,express and mongoose will certainly be helpful to me in the long run. Hope you people conduct more of such workshops in the future. It was indeed an enriching experience. Thanks and kudos to you people!! :)
          footer - Sameetha Dessai
          |Goa
          
      .three.slide
        p Joining CodeGurukul's internship was the best decision ever. I used to consider web development to be very difficult. But Stanly made everything very easy to understand. The internship was definitely very beneficial and encouraging for me. Thanks to CodeGurukul I am currently working as a web developer. Thank you CodeGurukul for making me realize the possibilities!
          footer - Shraddha Naik
          |Goa Tech Solutions
          
      .four.slide
        p Within 2 weeks after the internship I appeared for an interview for the role of a web developer and have been working since over here at G4 InfoTech, Mapusa-Goa; also I'm very certain when I say this internship very directly helped me in getting this job. A big thumbs up from me to code gurukul, Stanly sir and Sobin sir.
          footer - Anuj Kelkar
          |G4 InfoTech, Goa
      