section.footer-section
  .container
    .row
      .col-md-12
        div.footer-images
          img.footer-logo(src='images/logo.png', width='25px')
          br
          img.footer-logo-text(src='images/CG_logo_Text.png', width='135px')