section.program-enrolling-section
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='#aab2bd')
  .container
    .row
      .col-md-12.text-center
        h3 Find this course interesting? Want to enroll?
      .col-md-6.col-md-offset-3.text-center
        h4 Course Price : $399
        h4 Course Duration : 4 days
        button.btn.btn-primary.btn-lg.register-button Register Now!