section.program-highlight-section
  .decor-top
    svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 100 L100 0 L100 100', stroke-width='0', fill='#aab2bd')
  div.container.custom-padding-left-right-75
    div.row
      div.col-sm-6.highlights
        .col-md-12.text-center
          i.fa.fa-play-circle-o.fa-lg
        h3 The best starting point for beginners.
        p This course is the best way to create a real portfolio while getting started as an engineer. Working with a professional frontend developer you'll build interactive websites – including an online resume, a clone of a Karma landing page and an interactive shopping list – using HTML, CSS, JavaScript and jQuery. Don't know what those are? Don't worry, your mentor will teach you 1-on-1.
        p You'll master these fundamentals with 1-on-1 guidance from your mentor who is a professional developer. Your mentor will be there to help you when you get stuck, motivate you to finish a challenging project, and keep you on track. You’ll graduate with a full portfolio and a fully-stacked GitHub profile. Even if you’ve literally never coded a single line you can take the course and become a beginner frontend developer.
      div.col-sm-5.col-md-offset-1.targets
        .col-md-12.text-center
          i.fa.fa-crosshairs.fa-lg
        h3 This course is perfect for:
        ul.custom-line-height-3
          li Beginners taking the first steps to become an engineer
          li Visual designers who want to learn to code
          li Anyone that needs to make changes to their website
        br
        h3 Want to know more?
        form.form-inline
          input.form-control.input-md.syllabus-email-input.col-md-6(type='email' placeholder='Email') 
          button.btn.btn-primary.btn-md.syllabus-button.col-md-6 Send me the Syllabus
